.DS_Store
obj
bin
gen
assets
libs
frameworks/cocos2d-x/build/cocos2d_libs.xcodeproj/xcuserdata/
frameworks/cocos2d-x/cocos/scripting/js-bindings/proj.ios_mac/cocos2d_js_bindings.xcodeproj/xcuserdata/
frameworks/runtime-src/proj.ios_mac/CocosJsHotUpdateDemo.xcodeproj/project.xcworkspace/
frameworks/runtime-src/proj.ios_mac/CocosJsHotUpdateDemo.xcodeproj/xcuserdata/
frameworks/cocos2d-x/cocos/platform/android/java/local.properties
publish/
simulator/